.tarjetas{
    top: 3893px;
    left: 277px;
    width: 115px;
    height: 40px;
    opacity: 1;
}
.label-1{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/22px Arial;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--nuevo-gris-fondo);
    text-align: left;
    font: normal normal normal 13px/22px Arial;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}
.iconos{
    top: 4007px;
    left: 1186px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.app{
    top: 4047px;
    left: 1092px;
    width: 128px;
    height: 39px;
}